<!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Logo</a>
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a href="#" class="black-text">關於我們</a></li>
    </ul>
  </div>
</nav> -->

<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#" class="black-text">關於我們</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="black-text">產品介紹</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">關於我們</a></li>
    <li><a href="#">產品介紹</a></li>
  </ul>