<nav>
    <div class="white nav-wrapper">
      <a href="#" class="brand-logo center"><img src="https://i.imgur.com/wN3FQ9s.png" alt="navbar logo"></a>
      <a href="#" data-target="mobile-demo" class="black-text sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down" id="nababout">
        <li><a href="https://v.jav101.com/" class="black-text" id="navabout">關於我們</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://v.jav101.com/" class="black-text" id="navproduct">產品介紹</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="https://v.jav101.com/">關於我們</a></li>
    <li><a href="https://v.jav101.com/">產品介紹</a></li>
  </ul>