<!-- Carousel -->
<div class="carousel carousel-slider center" id="topcarousel">
  <!-- <div class="carousel-fixed-item right">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div> -->
  <div class="carousel-item black white-text" href="#one!">
    <img src="https://i.imgur.com/9krEv9L.jpg" alt="1">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>


<!--  New item title-->
<div class="animated slideInDown container center">
  <h5>新品 NEW IN</h5>
</div>

<!-- Items list -->
<div class="row">
  <div class="col s6 m4 l2">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">產品名稱1</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
  <div class="col s6 m4 l2">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">產品名稱2</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
  <div class="col m4 l2 hide-on-small-only">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">產品名稱3</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
  <div class="col l2 hide-on-med-and-down">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">產品名稱4</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
  <div class="col l2 hide-on-med-and-down">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">產品名稱5</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
  <div class="col l2 hide-on-med-and-down">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="https://i.imgur.com/dshMQFg.jpg">
        <a href="/"><span class="card-title black-text">深綠抹茶保溫杯6</span></a>
      </div>
      <div class="card-content">
        <p>產品介紹</p>
      </div>
    </div>
  </div>
</div>

<!-- Middle ad -->
<div class="col s6 m4 l2" id="midadcard">
    <div class="card">
      <div class="card-image">
        <img src="https://i.imgur.com/eOiE2yU.jpg">
        <span class="card-title black-text midadtext1 dynamicText">對待自己<br />與<br />環境<br />更好的方式。</span>
        <span class="card-title black-text midadtext2 dynamicText">四季春夏秋冬 瓶身映射拋光色澤 12小時保溫<br /> 24小時保冷 時尚功能兼具 方便攜帶高效便捷</span>
        <a href="/"><span class="card-title black-text midadlink dynamicText">了解更多</span></a>
      </div>
    </div>
  </div>

<!-- Bottom blog & social media section -->
<div class="botSoc">
  <div class="socDiv1">
      <a href="/"><img class="socImg1" src="https://i.imgur.com/UboHb0o.jpg"></a>
      <a href="/"><span class="black-text socLink1 dynamicText">#JoinTheMovement</span></a>
      <h1 class="socTitle1">多喝水 好處多</h1>
      <p class="socContent1">隨時補充水分，是維持健康的基本妙方。過去專家建議，一天要，一天要喝8杯水，但美國但美國最新報告打破打破此說法。專家表示，每人每天至少需喝11杯水，，除了可加速代謝，，還能提高免疫力，還能提高免疫力。</p>
  </div>
  <div class="socDiv2">
      <a href="/"><img class="socImg2" src="https://i.imgur.com/ixJdoFB.jpg"></a>
      <a href="/"><span class="black-text socLink2 dynamicText">#SPBInstagram</span></a>
      <h1 class="socTitle2">跟著我們動起來！</h1>
      <p class="socContent2">不管是都市慢跑還是山林漫步，野外生存到公路自行車。 帶著SPB水瓶跟著我們動起來！ 快來 Instagram 追蹤我們，這裡有最新的，這裡有最新的產品資訊，這裡有最新的產品資訊還有活動消息。</p>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s12">
        <h5 class="white-text footerDynamicTitle">服務中心</h5>
        <h5 class="white-text footerDynamicContent">027764-8736</h5>
        <h5 class="white-text footerDynamicContent">customerservice@SPB.com</h5>
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text footerDynamicTitle">關於 Shih-Po</h5>
        <a href="/"><h5 class="white-text footerDynamicContent">Shih-Po 保固條款</h5></a>
        <h5 class="white-text footerDynamicContent">隱私權政策隱私權政策</h5>
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text footerDynamicTitle">關注我們</h5>
        <div class="input-field inputDiv">
          <input placeholder="Email" id="email" type="email" class="validate">
        </div>
        <div class="col s12 m12 l12" id="botSocGroup">
            <div>
              <a class="btn-floating btn-large waves-effect waves-light" id="socBtn" href="/">
                <i class="socicon-instagram" id="socIcon"></i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light" id="socBtn" href="/">
                <i class="socicon-youtube" id="socIcon"></i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light" id="socBtn" href="/">
                <i class="socicon-facebook" id="socIcon"></i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light" id="socBtn" href="/">
                <i class="socicon-twitter" id="socIcon"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Shih-Po Bottle 版權所有
    </div>
  </div>
</footer>