<!-- DaDragon layout.ejs code -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Add favicon -->
    <link rel="icon" href="https://i.imgur.com/wN3FQ9s.png">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Get materialize social icon -->
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?u8vidh">
    <!-- Local css file -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile (viewport)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Title -->
    <title>Shih Po Bottle</title>
  </head>

  <body>
    
    <!-- Set the navbar on every page client visits -->
    <%- include('./partials/navbar.ejs') %>

    <!-- All other ejs views are serve here -->
    <%- body %>
    
    <script>
      $(document).ready(function() {
        // Init sidenav
        $('.sidenav').sidenav();

        $('.slider').slider({
          indicators: true,
          transition: 500,
          interval: 6000
        });

        // Init carousel slider
        $('.carousel.carousel-slider').carousel({
          fullWidth: true,
          indicators: true,
        });
      });
    </script>

  <!-- Local JS file -->
  <script src="/js/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>

</html>

