<div class="mainbox row">
  <div class="col l4 productinfo hide-on-med-and-down">
      <div>
        <h4 class="product-info">Exotics Collection</h4>
      </div>
          <div class="product-name">
            <h1 class="page-title">Tillie Lowe</h1>
          </div>
            <div class="extra-info">
              <div class="col s6">
                <span>Stays Cool</span>
                <br>
                <span>For 24 hours</span>
                <br>
                <i class="small material-icons">ac_unit</i>
              </div>
              <div class="col s6">
                <span>Keep Warm</span>
                <br>
                <span>For 12 hours</span>
                <br>
                <i class="small material-icons">flare</i>
              </div>
            </div>  
  </div>
  <div class="col l4 midinfo hide-on-med-and-down">
    <div class="product-img">
      <img src="images/robertBottle.png" alt="bottle" class="responsive-img">
    </div>
  </div>
  <div class="col l4 rightinfo hide-on-med-and-down"></div>
  <!-- med and small only -->
  <div class="smallproductinfo hide-on-large-only show-on-medium-and-down">
      <div>
          <p class="product-info">Exotics Collection</p>
        </div>
            <div class="product-name">
              <h1 class="page-title">Tillie Lowe</h1>
            </div>
              <div class="extra-info">
                <div class="col s6">
                  <span>Stays Cool</span>
                  <br>
                  <span>For 24 hours</span>
                </div>
                <div class="col s6">
                  <span>Keep Warm</span>
                  <br>
                  <span>For 12 hours</span>
                </div>
              </div>  
  </div>
  <div class="smallmidinfo hide-on-large-only show-on-medium-and-down">
      <div class="product-img">
          <img src="images/robertBottle.png" alt="bottle" class="responsive">
        </div>
  </div>
  <div class="smallrightinfo hide-on-large-only show-on-medium-and-down"></div>
</div>