<div class="mainbox row">
  <div class="col l4 productinfo hide-on-med-and-down"></div>
  <div class="col l4 midinfo hide-on-med-and-down"></div>
  <div class="col l4 rightinfo hide-on-med-and-down"></div>
  <!-- med and small only -->
  <div class="smallproductinfo hide-on-large-only show-on-medium-and-down"></div>
  <div class="smallmidinfo hide-on-large-only show-on-medium-and-down"></div>
  <div class="smallrightinfo hide-on-large-only show-on-medium-and-down"></div>
</div>