#navabout {
  position: absolute;
  left: 400px;
}

#navproduct {
  position: absolute;
  right: 400px;
}

#topcarousel {
  position: relative;
}

.dynamicText{
  font-size: 3vw !important;
}

.midadtext1 {
  position: relative;
  font-weight: bold !important;
  width: 400px;
  min-width: 400px;
  margin: 0px 0px 19vw 0vw;
}

.midadtext2 {
  position: relative;
  font-weight: bold !important;
  font-size: 1vw !important;
  width: 400px;
  min-width: 400px;
  margin: 0px 0px 13vw 0vw;
}

.midadlink {
  position: relative;
  font-weight: bold !important;
  font-size: 1vw !important;
  margin: 0px 0px 5vw 0vw;
}

.botSoc {
  height: 800px;
}

.socDiv1 {
  display: inline-block;
  width: 49%;
  height: 100%;
}

.socDiv2 {
  display: inline-block;
  width: 49%;
  height: 100%;
}

.socImg1 {
  position: relative;
  width: 70%;
  margin: 6vw 0px 0px 10vw;
}

.socImg2 {
  position: relative;
  width: 70%;
  margin: 6vw 0px 0px 6vw;
}

.socLink1 {
  position: relative;
  font-size: 1vw !important;
  margin: 6vw 0px 0px 23vw;
}

.socLink2 {
  position: relative;
  font-size: 1vw !important;
  margin: 6vw 0px 0px 20vw;
}

.socTitle1 {
  position: relative;
  font-size: 2vw !important;
  margin: 1vw 0px 0px 21vw;  
}

.socTitle2 {
  position: relative;
  font-size: 2vw !important;
  margin: 1vw 0px 0px 16vw;  
}

.socContent1 {
  position: relative;
  width: 70%;
  font-size: 1vw !important;
  margin: 2vw 0px 0px 10vw;
}

.socContent2 {
  position: relative;
  width: 70%;
  font-size: 1vw !important;
  margin: 2vw 0px 0px 6vw;
}


