#navabout {
  position: absolute;
  left: 400px;
}

#navproduct {
  position: absolute;
  right: 400px;
}

#topcarousel {
  position: relative;
}

.dynamicText{
  font-size: 3vw !important;
}

.midadtext {
  position: relative;
  font-weight: bold !important;
  width: 400px;
  min-width: 400px;
  margin: 0px 0px 13vw 1vw;
}